@model ToeicStudyNetwork.ViewModels.Forum.PostViewModel
<div class="media-container" id="@Model.Id" aria-hidden="true">
    <div class="avatar">
        <img src="@Model.UserImageUrl" alt="Avatar" style="width: 40px; height: 40px; border-radius: 100%;" />
    </div>
    <div class="media-main" >
        <div class="media-header d-flex justify-content-between align-items-center">
            <div class="media-info">
                <div class="username">@Model.UserName</div>
                <div class="timestamp">@Model.CreatedAt.ToString("dd/MM/yyyy")</div>
            </div>
            @* <div class="dropdown"> *@
            @*     <button class="options-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" *@
            @*             aria-expanded="false"> *@
            @*         <i class="bi bi-three-dots"></i> *@
            @*     </button> *@
            @*     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"> *@
            @*         <li> *@
            @*             <a class="dropdown-item" href="#"> *@
            @*                 <span>Saved</span> *@
            @*                 <i class="bi bi-bookmark"></i> *@
            @*             </a> *@
            @*         </li> *@
            @*         <li> *@
            @*             <a class="dropdown-item" href="#"> *@
            @*                 <span>Copy link</span> *@
            @*                 <i class="bi bi-link-45deg"></i> *@
            @*             </a> *@
            @*         </li> *@
            @*     </ul> *@
            @* </div> *@
        </div>
        <div class="media-content" style="cursor:pointer;">
            <div class="media-caption"  id="media-caption" data-url="@Url.Action("PostDetail", "Forum", new { postId = @Model.Id })">
                <span>@Model.Content</span>
            </div>
            <div class="media-image-container">
                @if (Model.MediaUrls.Count > 0)
                {
                    foreach (var mediaUrl in Model.MediaUrls)
                    {
                        <div class="media-image" id="image-button">
                            <img src="@mediaUrl" alt="Media Image" />
                        </div>
                    }
                }
            </div>
        </div>
        
        <div class=" media-action-container">
            <div class="media-action" id="like-button" data-post-id="@Model.Id">
                <button class="media-action-button @(Model.IsLike ? "liked" : "")">
                    <i id="likeIcon" class="@(Model.IsLike ? "bi bi-heart-fill" : "bi bi-heart")"></i>
                </button>
                <span class="total-text">@Model.Likes.Count</span>
            </div>
            <div class="media-action" style="cursor: pointer" id="comment-button" data-bs-toggle="modal" data-url="@Url.Action("PostDetail", "Forum", new { postId = "__postId__" })" data-post-id="@Model.Id">
                <button class="media-action-button">
                    <i class="bi bi-chat"></i>
                </button>
                <span class="total-text">@Model.Comments.Count</span>
            </div>
        </div>
    </div>
    <input type="hidden" id="postId" value="@Model.Id" />
    <div class="modal fade" id="imageModal-@Model.Id"  aria-labelledby="imageModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                </div>
                <div class="modal-body text-center">
                    <img id="modalImage" src="" alt="Preview" class="img-fluid" style="max-height: 90vh;" data-post-id="@Model.Id"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="commentModal-@Model.Id" aria-labelledby="commentModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center position-relative w-100">
                    <div id="closeModalButton" type="button" class="btn btn-link opacity-0" style="cursor: default" data-bs-dismiss="commentModal"><span>Cancel</span></div>
                    <h6 class="modal-title position-absolute w-100 text-center" id="postModalLabel" style="font-weight: 600;">Reply</h6>
                </div>

                <form id="commentForm">
                    <div class="modal-body">
                        <div class="media-main" id="mediaMain-@Model.Id">
                            <div class="media-header d-flex justify-content-between align-items-center">
                                <div class="media-info">
                                    <div class="avatar">
                                        <img src="@Model.UserImageUrl" alt="Avatar" style="width: 40px; height: 40px; border-radius: 100%;" />
                                    </div>
                                    <div class="username">@Model.UserName</div>
                                    <div class="timestamp">@Model.CreatedAt.ToString("dd/MM/yyyy")</div>
                                </div>
                            </div>
                            <div class="media-content">
                                <div class="media-caption">
                                    <span>@Model.Content</span>
                                </div>
                                <div class="media-image-container">
                                    @if (Model.MediaUrls.Count > 0)
                                    {
                                    foreach (var mediaUrl in Model.MediaUrls)
                                    {
                                    <div class="media-image">
                                        <img src="@mediaUrl" alt="Media Image" style="width: 100%; height: 100%"/>
                                    </div>
                                    }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="post-grid">
                            <div class="avatar-section">
                                <img src="@ViewBag.UserImageUrl" class="avatar-img rounded-circle" alt="Avatar">
                            </div>
                            <div class="user-info">
                                <span class="user-name">@ViewBag.UserName</span>
                            </div>

                            <div class="post-input">
                                <textarea class="form-control" placeholder="Reply to @Model.UserName" id="commentContent"></textarea>
                            </div>

                            <div id="image-holder" class="image-holder">

                            </div>

                            <div class="action-bar d-flex align-items-center">
                                <div class="action-item">
                                    <button type="button" class="btn-action" id="upload-image-button">
                                        <i class="bi bi-images"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="post-button py-1 px-3">
                            <span class="text-center">Bình luận</span>
                            <div class="spinner-border spinner-border-sm text-dark d-none" id="comment-loading" role="status" style="margin-left: 0.5rem">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



