@model List<ToeicStudyNetwork.ViewModels.Test.UserResultViewModel>
@{
    ViewBag.Title = "Analytics";
    var time = 0.0;
    var score = 0.0;
    foreach (var result in Model)
    {
        time += result.TimeTaken;
        score += result.Score;
    }
    time = Math.Round(time / 60, 2);
    score = Math.Round(score / Model.Count, 2);
}
@section customHead {
    <link rel="stylesheet" href="~/css/test_detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/test_result.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/test_analytics.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="content-header pb-0 sky-gradient-bg">
    <div class="container">
        <h1 class="mb-4" id="thống-kê-kết-quả-luyện-thi"><span class="far fa-analytics mr-2"></span>Thống kê kết quả
            luyện thi</h1>
    </div>
</div>

<div class="container">
    <div>
        <div class="mb-2">Lọc kết quả theo ngày (tính từ bài thi cuối):</div>
        <form class="form-inline">
            <input type="hidden" name="exam" value="1">
            <div class="form-group mr-1 mt-1">
                <select name="qdays" class="custom-select" id="timeRangeSelect" onchange="handleTimeRangeChange()">
                    <option value="" disabled="">-- Chọn khoảng thời gian --</option>
                    <option selected="selected" value="all">Tất cả</option>
                    <option value="today">Hôm nay</option>
                    <option value="3days">3 ngày gần nhất</option>
                    <option value="7days">7 ngày gần nhất</option>
                    <option value="1month">30 ngày</option>
                    <option value="6months">6 tháng</option>
                    <option value="1year">1 năm</option>
                </select>
            </div>
            <div class="mt-1">
                <button class="ml-1 btn btn-primary">Search</button>
                <a class="ml-1 btn btn-light" href="?">Clear</a>
            </div>
            <div id="loader" role="status" class="spinner-border spinner-border-sm align-self-center my-3" style="display: none; color: var(--primary-500)">
                <span class="sr-only">Loading...</span>
            </div>
        </form>
    </div>
    <div id="analysis-section">
        @await Html.PartialAsync("_AnalysisSectionPartial");
    </div>
    
    <h4 class="label">Danh sách đề thi đã làm:</h4>

    <!-- Navigation Tabs -->
    <div class="container mt-4 p-0">
        <ul id="practice-tabs" class="nav nav-tabs my-3 custom-tabs">
            <li class="nav-item" onclick="fullTestTabActive()">
                <a type="button" id="full-test-tab-button" class="nav-link active" >Làm full test</a>
            </li>
            <li class="nav-item" onclick="practiceTabActive()">
                <a type="button" id="practice-tab-button" class="nav-link">Luyện tập</a>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="container mt-4 p-0">
        <div id="full-test-tab">
            <div class="table-responsive">
                <table class="table table-bordered table-results">
                    <thead>
                    <tr>
                        <th class="fw-bold">Đề thi</th>
                        <th class="fw-bold">Ngày làm</th>
                        <th class="fw-bold">Kết quả</th>
                        <th class="fw-bold">Thời gian làm bài</th>
                        <th class="fw-bold">Chi tiết</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var result in Model.Where(result => result.Type == "Full Test"))
                    {
                        <tr>
                            <td class="column-layout">
                                <div><strong>@result.ExamName</strong></div>
                                <span class="badge text-black badge-custom">@result.Type</span>
                            </td>
                            <td>
                                <div>@result.CreateAt.ToLocalTime().ToString("dd/MM/yyyy")</div>
                            </td>
                            <td>
                                @result.CorrectAnswerAmount/@result.TotalQuestions (Điểm: @result.Score)
                            </td>
                            <td>
                                @TimeSpan.FromSeconds(result.TimeTaken).ToString(@"hh\:mm\:ss")
                            </td>
                            <td>
                                <a href="/Test/@result.ExamId/result/@result.Id">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div id="practice-tab" class="d-none">
            <div class="table-responsive">
                <table class="table table-bordered table-results">
                    <thead>
                    <tr>
                        <th class="fw-bold">Đề thi</th>
                        <th class="fw-bold">Ngày làm</th>
                        <th class="fw-bold">Kết quả</th>
                        <th class="fw-bold">Thời gian làm bài</th>
                        <th class="fw-bold">Chi tiết</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var result in Model.Where(result => result.Type != "Full Test"))
                    {
                        <tr>
                            <td class="column-layout">
                                <div><strong>@result.ExamName</strong></div>
                                <span class="badge text-black badge-custom">@result.Type</span>
                            </td>
                            <td>
                                <div>@result.CreateAt.ToLocalTime().ToString("dd/MM/yyyy")</div>
                            </td>
                            <td>
                                @result.CorrectAnswerAmount/@result.TotalQuestions
                            </td>
                            <td>
                                @TimeSpan.FromSeconds(result.TimeTaken).ToString(@"hh\:mm\:ss")
                            </td>
                            <td>
                                <a href="/Test/@result.ExamId/result/@result.Id">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/test_analytics.js"></script>
    <script src="~/js/test_detail.js"></script>
}

